html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;

  background-color: #dedeee;
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  color: black;
}

h1 {
  font-family: Tahoma, Arial, sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

table {
  margin: 0px auto;
}

.small {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

.graph {
  font-family: "Arial narrow", Arial, sans-serif;
  font-size: 10px;
  color: black;
  text-align: center;
  padding: 1px;
}

.graphbar {
  vertical-align: bottom;
}

.graphlabel {
  background-color: #CCCCCC;
}

.heading {
  height: 20px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;

  color: white;
  font-family: Tahoma, Arial, sans-serif;
  font-weight: bold;
  background-color: #666699;
  border-radius: 5px;
  border: 1px solid #000000;
}
