html {
  display: table;
  margin: auto;
}

body {
  // Centering
  display: table-cell;
  vertical-align: middle;

  background-color: #dedeee;
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  color: black;
}

h1 {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.small {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}
